*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    scroll-behavior: auto;
    font-family: 'Montserrat', sans-serif;
}

.JogoSingle{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-bottom: 5%;  
}
.JogoSingle img {
    max-width: 150px;

}
.JogoSingle a{
    right: 0;
    position: absolute;
    font-size: 3rem;
    color: black;
    
}
.JogoSingle  a:hover{
    background-color: green;
    border-radius: 25px;
    padding: 3px;
    color: var(--branco);}

    .JogoSingle td{ 
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;  }
    